{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "endOfLine": "lf",
  "insertFinalNewline": true,
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
