node_modules/

.next/
build/
dist/
.vercel/

bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

coverage/

src/drizzle/migrations/

**/_examples/

.env*
*.log
*.min.js
*.min.css
public/
.git/
*.generated.*
CHANGELOG.md
*.bundle.js